
.navbar-brand {
    padding: 0px 15px;
}
.logo{
    max-width:200px;
    max-height: 50px;
}
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

#NewPaymentPlanForm label,
#InstallmentPlanDetailsForm label, 
#NewCustomerForm label,
#DashboardSearchForm label{
    min-width:180px;
    text-align:right;
    margin-right: 10px;
    font-weight: 100;
}
#InstallmentPlanDetailsForm label{
    min-width: initial;
    margin-left:20px;
}
.form-control{
    border-radius:0px;
}



table.dataTable tbody td, table.dataTable tbody th {
    padding: 5px 7px;
    line-height: 34px;
}
table.dataTable thead th,
table.dataTable thead td {
    padding: 7px 10px;
}
.action-col a{
    padding: 5px;
}

md-autocomplete{
    display:inline-block;
    height:34px;
}
md-autocomplete md-autocomplete-wrap
{
    height:34px;
}
md-autocomplete input:not(.md-input){
    line-height: 34px;
    height: 34px;
    padding: 0 12px;
}
element.style {
}
.md-autocomplete-suggestions li:not(.md-not-found-wrapper) {
    cursor: pointer;
}
.md-autocomplete-suggestions li {
    padding: 0 12px;
    line-height: 34px;
    height: 34px;
}

.md-whiteframe-z1{
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius:0px;
}
.icon-btn i{
    border: solid 1px;
    padding: 7px;
}
form .ng-invalid {
    border: 1px solid red !important;
}

.amount_input
{
    max-width: 100px;
    text-align: right;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}